body {
    background-color:cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:darkgray;
    text-align: center;
}

.about {
    color:aquamarine;
}

.skills {
    color:beige;
}

.projects {
    color:chartreuse;
}

.contact {
 color:crimson;   
}